
.footer-custom ul li {
    list-style: none;
    margin-bottom: 15px;
}
section.footer-custom {
    border-top: 1px solid #9800ec;
    padding: 20px;
}
a.copyright-text {
    font-size: 12px;
}
.footer-bottom a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}
.footer-custom ul li a {
    color: #fff;
    transition: 0.3s;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}
.footer-custom ul li a:hover::before {
    width: 40px;
    transition: 0.3s;
}
.footer-custom ul li a::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 1px;
    left: 0;
    bottom: -3px;
    background-color: #fff;
    transition: 0.3s;
}

@media (max-width: 1500px) {
section.m-3.footer-custom::before, section.m-3.footer-custom::after {
    width: 19.2%;
}
}

@media (max-width: 1400px) {
.custom-header.scrolled div#navbarScroll {
    width: 65%;
}
}

@media (max-width: 1199px) {
div#navbarScroll a {
    font-size: 14px;
}
.signup-btn {
    font-size: 14px !important;
}
.mx-5.pe-5, .mx-5.ps-5 {
    margin: 0px !important;
    padding: 0px !important;
}
.subscribe-right input {
    font-size: 14px;
    padding: 11.5px 20px;
}
section.m-3.footer-custom img {
    width: 160px;
}
div#navbarScroll a {
    padding: 12px 20px;
}
.custom-header.scrolled div#navbarScroll {
    width: 60%;
}
}

@media (max-width: 991px) {
.nav-right::after{
    display: none;
}
section.m-3.footer-custom {
    padding: 50px 30px 15px 30px;
}
}

@media (max-width: 767px) {
section.m-3.footer-custom {
    padding: 50px 20px 15px 20px;
}
section.m-3.footer-custom img {
    margin-bottom: 20px;
}
.footer-bottom {
    margin-top: 0px;
}
.footer-bottom.d-flex.align-items-center.justify-content-between {
    flex-direction: row-reverse;
    display: inline-block !important;
    width: 100%;
    text-align: center;
}
.footer-bottom-right.d-flex.gap-4 {
    justify-content: center;
    margin-top: 5px;
}
}